@rendermode InteractiveServer
@using System.Net.Http
@using System.Net.Http.Json
@using Newtonsoft.Json
@inject ProductDescriptionService ProductDescriptionService


<div>
    <p>Current Temperature: @temperature</p>
    <TextInput Label="Product Name:" @bind-Value="productName" />
    <TextArea Label="Product Attributes:" @bind-Value="keywords" />
</div>

<br>

<div>
    <button @onclick="OutputText">Generate Description</button>
    <LoadingSpinner IsVisible="@isLoading" />
    @if (!isLoading)
    {
        <p role="status">@textToOutput</p>
    }
</div>


@code {
    private string? textToOutput;
    private string? keywords = "";
    private string? productName = "";
    private bool isLoading = false;
    private string temperature = "1.0"; 

    private static readonly string systemMessage = "You will be provided with a product name delimited by triple quotes and seed words that you will use to generate the description of the product. The description should follow the following constraints: it should be 5 sentences long, it should be compelling, it should be written in Swedish";

    /// <summary>
    /// Makes request to generate description.
    /// </summary>
    /// <returns></returns>
    private async Task OutputText()
    {
        isLoading = true;
        try
        {
            textToOutput = await ProductDescriptionService.GenerateProductDescriptionAsync(
                productName ?? string.Empty, 
                keywords ?? string.Empty, 
                systemMessage ?? string.Empty, 
                temperature);
        }
        finally
        {
            isLoading = false;
        }
    }
}
