@rendermode InteractiveServer
@using ProductDescriptionFrontend
@using System.Net.Http
@using System.Net.Http.Json


<button class="btn btn-primary" @onclick="OutputText">Generate Description</button>

<p role="status">@textToOutput</p>

@code {
    private ApiResponse apiResponse;
    private string textToOutput;
    private HttpClient httpClient;

    protected override void OnInitialized()
    {
        httpClient = new HttpClient();
    }

    /// <summary>
    /// Makes request to generate description.
    /// </summary>
    /// <returns></returns>
    private async Task OutputText()
    {
        try
        {
            Console.WriteLine("OutputText method called");

            apiResponse = await httpClient.GetFromJsonAsync<ApiResponse>("http://localhost:5000/product-description");

            textToOutput = apiResponse.Message;
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
