<label for="@Id">@Label</label>
<textarea class="form-control" id="@Id" @oninput="HandleInput">@Value</textarea>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();

    private void HandleInput(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        ValueChanged.InvokeAsync(Value);
    }
}
