@page "/developer"
@rendermode InteractiveServer
@using ProductDescriptionFrontend.Components.Shared

<PageTitle>Generate Product Description</PageTitle>

<div>
  <h1>Generate your product description here</h1>


  <DevBtn />
</div>


