@page "/generate-product-description"
@using ProductDescriptionFrontend.Components.Shared

<PageTitle>Generate Product Description</PageTitle>

<h1>Generate your product description here</h1>


<GenerateDescriptionBtn />