<nav class="navbar">
  <a class="navbar-brand" href="/">Generator</a>
  <div class="" id="navbarText">
    <ul class="nav nav-pills nav-fill">

      <li class="nav-item active">
         <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
      </li>

      <li class="nav-item">
        <NavLink class="nav-link" href="generate-product-description">
                <span class="oi oi-plus" aria-hidden="true"></span>Generator
            </NavLink>
      </li>
      
      <li class="nav-item">
        <NavLink class="nav-link" href="developer">
                <span class="oi oi-plus" aria-hidden="true"></span>Developer
            </NavLink>
      </li>

    </ul>
  </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}